@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
.navbar {
    height: 120px;
    width: 100%;
    display: block;
    background-color: #090579;
}

.brand-title-group {
    /* 1. La línea divisora: 2px de grosor, color blanco, tipo sólido */
    border-left: 3px solid orange; 
    
    /* 2. Separación con el logo: añade espacio a la izquierda de la línea */
    padding-left: 2px; 

    /* 3. Alineación (IMPORTANTE) */
    /* Como estás usando 'position: absolute' en el logo, 
       necesitas ajustar el margen de los títulos para que estén cerca del logo. */
    margin-left: 190px; /* Ajusta este valor si es necesario, basado en el ancho del logo */
}

.titulo1 {
    color: orange;
    font-weight: 900;
    font-size: xx-large;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 0px;
    line-height: 0.85;
    letter-spacing: 4px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.titulo2 {
    color: yellow;
    font-weight: 900;
    font-size: 70px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 20px;
    line-height: 0.70;
    text-decoration: none;

    animation-name: cambio-color;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.titulo3 {
    color: orange;
    font-weight:700;
    font-size:smaller;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 65px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-decoration: none;
}
.LogoContainer {
    position: absolute;
    left: 20px;
    top: 90px;
    transform: translateY(-50%);
    z-index: 1001;
    width: 180px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item {
    font-size: x-large;
    color: orange;
}

.nav-link {
    color: white;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}


.nav-link:hover,
.nav-link.active {
    color: yellow;
    background-color: transparent;
}


.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-collapse.show {
    background-image: linear-gradient(to top, blue, rgb(255, 72, 0));
    padding: 10px 0;
    width: 100%;
}

.navbar-collapse.show .nav-link {
    color: black !important;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-collapse.show .nav-link:hover,
.navbar-collapse.show .nav-link.active {
    color: yellow !important;
}

@keyframes cambio-color {
    0% {
        color: white;
        /* Color inicial (o el que uses por defecto) */
    }

    50% {
        color: yellow;
        /* El color naranja de tu :hover */
    }

    100% {
        color: white;
        /* Volver al color inicial */
    }
}