.navbar{
    height: 170px; 
    background-image: linear-gradient(to right, blue, rgb(255, 72, 0));
    
}
.titulo1 {
    color: orange;
    font-weight: 900;
    font-size: xx-large;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 190px;
    line-height: 0.85;
    text-decoration: none;
}
.titulo2 {
    color:yellow;
    font-weight: 900;
    font-size: 70px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 190px;
    line-height: 0.85;
    text-decoration: none;
}

.LogoContainer{
    position: absolute;
    left: 20px;
    top: 90px;
    transform: translateY(-50%);
    z-index: 1001;

    width: 180px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-item{
    font-size: x-large;
    color: orange;
    padding: 20px;
}

.nav-link {
    color: white;
    font-weight: bolder;

    transition: all 0.2s ease-in-out; 
}


.nav-link:hover,
.nav-link.active {
    color: blue;
    background-color: transparent;
}


.container-fluid {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-collapse.show {
    background-color:  rgb(255, 72, 0);
    padding: 10px 0;
    width: 100%;
}

.navbar-collapse.show .nav-link {
    color: black !important; 
    text-align: right; 
    padding-right: 20px; 
    padding-left: 20px;
}
.navbar-collapse.show .nav-link:hover,
.navbar-collapse.show .nav-link.active {
    color: blue !important;
}